body{
    margin:0;
    padding:0;
    font-family: Roboto,sans-serif;
    color:#272727;
    line-height: 170%;

}

.title{
    color:  #14a76c;
    /* font-weight: bold; */
    font-size: 217%;
    letter-spacing: 1px;
    margin-bottom: 19px;
}
.special{
    background-color: #ff00bf;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    box-sizing: border-box;
    color: white;
    position: relative;
    width: 100%;
    font-weight: bold;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
    transform: translate3d(0,0,0);
    transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
}
.footer{

    background-image:url("/libs/notification/regards.svg") ;
    color: white;
    padding: 14px;
    /* font-weight: bold; */
    font-size: 175%;
    letter-spacing: 1px;

    background-position-x: right;
    margin-right:20px;
    background-position-y: 4px;
    background-size: 330px;
    background-repeat: no-repeat;
    background-position-y: 4px;
    margin-top:40px;
    height: 30px;
}

.line{
    margin: 12px 40px 12px 40px;
    border-top: 1px solid #d6d6d6;
}
h1{
    font-weight: normal;
    color:#14a76c;
}

h2{
    color:#747474;
    font-weight: normal;
}
h3{
    color:#747474;
    font-weight: normal;
}

b{
    font-weight: normal;
    color:#14a76c;
}

code{
    white-space: nowrap;
    background-color: #f3f3f3;
    color: #a13131;
    padding:4px;
}