.getmdl-extend {
    outline: none
}


.getmdl-extend .mdl-icon-toggle__label {
    float: right;
    margin-top: -6px;
    color: rgba(0, 0, 0, 0.4);
    transform: rotate(0);
    transition: transform 0.3s;
    width:50px;
}
.getmdl-extend .main-switch{
    float: left;
    width: calc(100% - 50px);
}

.getmdl-extend.is-focused .mdl-icon-toggle__label {
    color: #3f51b5;
    transform: rotate(180deg)
}

.getmdl-extend .mdl-menu__container {
    width: 100% !important;
    margin-top: 2px
}

.getmdl-extend .mdl-menu__container .mdl-menu {
    width: 100%
}


.getmdl-extend .mdl-menu__item .mdl-switch{
    margin-top:12px;
}